<div class="container">
    <h1>View Post</h1>

    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

    <div>
        <strong>ID:</strong>
        <p>{{ student.id }}</p>
    </div>

    <div>
        <strong>Name:</strong>
        <p>{{ student.name }}</p>
    </div>

    <div>
        <strong>Email:</strong>
        <p>{{ student.email }}</p>
    </div>
    <div>
        <strong>Address:</strong>
        <p>{{ student.address }}</p>
    </div>

    <div>
        <strong>DOB:</strong>
        <p>{{ student.dob }}</p>
    </div>
    <div>
        <strong>Gender:</strong>
        <p>{{ student.gender }}</p>
    </div>

    <div>
        <strong>Course ID:</strong>
        <p>{{ student.course_id }}</p>
    </div>

</div>
